body{
    background-color: bisque;

}

h1{ font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: teal;

}

p{
    font-family: 'Times New Roman', Times, serif;
    color: darkslateblue;
}

